<div class="w-full">
    <div class="rounded-xl border bg-card overflow-hidden">
        <table z-table>
            <thead z-table-header>
                <tr z-table-row>
                    <th z-table-head>Conta</th>
                    <th z-table-head class="w-px whitespace-nowrap text-right">Ações</th>
                </tr>
            </thead>
            <tbody z-table-body>
                @for (row of rows(); track row.id) {
                <tr z-table-row>
                    <td z-table-cell class="w-full max-w-0">
                        <div class="flex items-center gap-1 tree-row" [style.--row-depth]="row.structuralCode.depth">
                            <z-button zType="ghost" (click)="toggleCollapsed(row.id)"
                                class="p-0.5 rounded hover:bg-muted shrink-0"
                                [ngClass]="hasChildren(row)?'':'invisible'">
                                @if (isCollepsed(row.id)){
                                <ng-icon name="lucideChevronRight" />
                                } @else{
                                <ng-icon name="lucideChevronDown" />
                                }
                            </z-button>
                            <div class="min-w-0 truncate">
                                <app-account-title [account]="row" />
                            </div>
                        </div>
                    </td>
                    <td z-table-cell>
                        <div class="flex right-2 items-center justify-end gap-1">
                            <app-edit-account-button [account]="row" [canEdit]="canEdit(row)"
                                (edit)="edit.emit($event)" />
                            <app-create-child-account-button [canCreateChild]="canCreateChild(row)"
                                (create)="createChild.emit(row)" />
                            <app-toggle-account-active-button [account]="row" [canActivate]="canActivate(row)"
                                [canInactivate]="canInactivate(row)" (toggle)="toggleActive.emit(row)" />
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>