<div class="flex w-full max-w-xs flex-col gap-6">
    <div hlmInputGroup>
        <input hlmInputGroupInput placeholder="Buscar conta..."
            (focus)="onFocused($event)" />
        <div hlmInputGroupAddon>
            <ng-icon name="lucideSearch" />
        </div>
        <div hlmInputGroupAddon [align]="'inline-end'">
            <kbd hlmKbd>Ctrl</kbd>
            <kbd hlmKbd>K</kbd>
        </div>
    </div>
</div>

<hlm-command-dialog [state]="state()" (stateChange)="stateChanged($event)">
    <hlm-command [filter]="customFilter">
        <input
            hlmInput brnCommandInput
            placeholder="Buscar por código, nome ou descrição."
            [(ngModel)]="query"
        />
        <hlm-command-list>
            <div *hlmCommandEmptyState hlmCommandEmpty>Nenhuma conta encontrada.</div>
            <hlm-command-group>
                @for(option of options();track option.id.value){
                <button hlmCommandItem [value]="option.id.value" (selected)="select(option)">
                    <app-account-title [account]="option"/>
                </button>
                }
            </hlm-command-group>
        </hlm-command-list>
    </hlm-command>
</hlm-command-dialog>